<h1>Create your programme</h1>
<%= simple_form_for @programme do |f| %>
  <%= f.input :name, label: "What is the name of your programme?" %>
  <%= f.input :weeks, collection: (4..12), label: "For how many weeks?" %>
  <%= f.input :splits_per_week, collection: (1..6), value: 1, label: 'How many days you do workout per week?', input_html: {data: {controller: 'splits', action: 'change->splits#extra'}} %>
  <div class='category'>
  <%= f.simple_fields_for :splits do |c| %>
    <%= c.input :category, collection: ['Upperbody', 'Lowerbody', 'Push', 'Pull', 'Legs', 'Fullbody'], label: "Split 1" %>
  <% end %>
</div>
  <%= f.submit %>
<% end %>
