<h1 class="programme-title">Your Programme</h1>

<div class="splits-container">
  <% @splits.each do |split| %>
    <div class="split-card">
      <div class="split-image">
        <%# Add if statement to show default image if no image available %>
        <%= image_tag split.split_exercises.first.exercise.image_url, alt: split.category %>
      </div>

      <div class="split-info">
        <h3 class="split-title"><%= split.category %> Split</h3>
        <ul class="exercise-list">
          <% split.split_exercises.each do |split_exercise| %>
            <li><%= split_exercise.exercise.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<div class="split-actions">
  <%= link_to "Edit my choices", split_path(@splits.first), class: "btn-action sm-edit-btn" %>
  <%= link_to "Confirm choices", programme_workouts_path(@programme), class: "btn-action btn-confirm" %>
</div>
