<h2 class="form-title">Sign Up</h2>
<div class="form-container">


<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
      <%= f.error_notification %>
     <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>

      <%= f.input :username,
                  required: true %>

      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>

      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>

      <div class="date-of-birth-container">
        <%= f.label :date_of_birth, "Date of Birth" %>
        <%= f.date_field :date_of_birth, required: true, class: "dob-input" %>
      </div>

      <%= f.input :weight, label: "Weight (Kg)", input_html: { min: 0, step: 0.1 } %>

      <%= f.input :height, label: "Height (cm)", input_html: { min: 0, step: 0.1 } %>

      <%= f.input :gender, collection: ["Male", "Female", "Prefer not to say"], prompt: "Select Gender" %>

      <%= f.input :fitness_level, collection: ["Novice", "Beginner", "Intermediate", "Advanced"], prompt: "Select Fitness Level" %>

      <%= f.input :fitness_goal, collection: ["Lose fat", "Gain muscle"], prompt: "Select your fitness goal" %>

      <%= f.input :profile_image, as: :file, label: "Upload Profile Image"%>

      </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "signup-btn" %>
        </div>

<% end %>

    <div class="form-links">
      <%= link_to "Log In", new_session_path(resource_name), class: "secondary-link" %>
    </div>
</div>
