<nav class="navbar fixed-bottom navbar-dark" id="bottom-navbar">
  <div class="container-fluid d-flex justify-content-around align-items-end">

    <%= link_to account_path do %>
      <div class="nav-icon-text">
        <i class="fa-solid fa-chart-line"></i>
        <span>My progress</span>
      </div>
    <% end %>

    <%= link_to new_programme_path do %>
      <div class="nav-icon-text">
        <i class="fa-solid fa-plus"></i>
        <span>Create</span>
      </div>
    <% end %>

    <%= link_to programme_workouts_path(current_user.programmes.last) do %>
      <div class="nav-icon-text">
        <i class="fa-solid fa-dumbbell" style ="font-size:18px"></i>
        <span>My workouts</span>
      </div>
    <% end %>

    <%= link_to account_path do %>
      <div>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "nav-avatar" %>
      </div>
    <% end %>


  </div>
</nav>
