<%= current_user.username %>
<%# <%= cl_image_tag(current_user.profile_image.key, width: 100) %>
<h2>My programmes</h2>
<%@programmes.each do |programme|%>
  <div class='programme-card block border card'>
  <h4><%= programme.name %></h4>
  <p><%= programme.splits_per_week %> workouts per week for <%= programme.weeks %> weeks</p>
  <p><%= programme.splits.map(&:category).join(', ') %></p>
  <% total_workouts = programme.splits_per_week * programme.weeks %>
  <div id="progressbar" data-controller="progress"></div>
  <p><%= programme.workouts.count %> done, <%= total_workouts - programme.workouts.count %> to go</p>
  </div>
<% end %>

<h2>My progress</h2>
<% @exercises.each do |exercise| %>
  <div class='exercise-card block border card'>
    <h4><%= exercise.name %></h4>
    <ul>
    <% exercise.logs.each do |log| %>
      <li><%= log.workout.date %>: 1RM - <%= log.weight * (36 / (37 - log.repetitions)) %> </li>
    <% end %>
  </div>
<% end %>
