<% if current_user.profile_image.attached? %>
  <%= cl_image_tag(current_user.profile_image.key, width: 100) %>
<% end %>

<h2 class="section-title">My Programmes</h2>
<div class="programmes-container">
  <% @programmes.each do |programme| %>
    <%= link_to programme do  %>
      <div class='programme-card block border card'>
        <h4 class="programme-name"><%= programme.name %></h4>
        <p><%= programme.splits_per_week %> workouts per week for <%= programme.weeks %> weeks</p>
        <p class="categories"><%= programme.splits.map(&:category).join(' - ') %></p>
        <% total_workouts = programme.splits_per_week * programme.weeks %>
        <div id="progressbar" data-controller="progress"></div>
        <p class="progress-text"><%= programme.workouts.count %> done, <%= total_workouts - programme.workouts.count %> to go</p>
      </div>
    <% end %>
  <% end %>
</div>

<h2 class="section-title">My Progress</h2>
<div class="exercises-container">
  <% @exercises.each do |exercise| %>
    <div class='exercise-card block border card'>
      <h4 class="exercise-name"><%= exercise.name %></h4>
      <ul class="exercise-logs">
        <% exercise.logs.each do |log| %>
          <li><%= log.workout.date %>: 1RM - <%= log.weight * (36 / (37 - log.repetitions)) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
