<div class="account-header">

  <div class="account-avatar">
    <% if current_user.profile_image.attached? %>
      <%= cl_image_tag current_user.profile_image.key, class: "account-avatar" %>
    <% else %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  </div>

  <div class="acc-header-info">
    <h6> <%= current_user.username %> </h6>
    <p class="acc-header-text"> <%= current_user.weight %>kg • <%= current_user.height %>cm</p>
    <p class="acc-header-text" style="margin-bottom:0px;"><%= current_user.email %></p>
  </div>
</div>


<h2 class="account-title">My Programmes</h2>

<% if current_user.programmes.empty? %>
  <div class="programmes-container">
    <p class="my-0 text-center" style="font-size: 16px;"> Create a programme <br>to get started...</p>
  </div>
<% else %>

<div class="programmes-container">
  <% @programmes.each do |programme| %>
    <%= link_to programme_workouts_path(programme) do  %>
      <div class='programme-card'>
        <h4 class="programme-name"><%= programme.name %></h4>
        <p><%= programme.splits_per_week %> workouts per week for <%= programme.weeks %> weeks</p>
        <p class="categories"><%= programme.splits.map(&:category).join(' - ') %></p>
        <% total_workouts = programme.splits_per_week * programme.weeks %>
        <% completion_rate = ((programme.workouts.count.to_f / total_workouts)*100).round(2) %>
        <% if completion_rate > 100 %>
          <% completion_rate = 100 %>
        <% end %>
        <% unless completion_rate.zero? %>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= completion_rate %>%;" aria-valuenow="<%= completion_rate %>" aria-valuemin="0" aria-valuemax="100">
              <%= completion_rate %>% Completed
            </div>
          </div>
          <% end %>
        </div>
    <% end %>
  <% end %>
</div>

<% end %>



  <div class="calendar-container">
  <h2 class="account-title">Schedule</h2>
  <%= turbo_frame_tag 'calendar' do %>
    <%= month_calendar(events: @workouts) do |date, workouts| %>
      <%= date %>
      <% workouts.each do |workout| %>
        <div class='d-flex align-items-center justify-content-center'>
          <% if workout.done %>
            <%= link_to "✅", workout_logs_path(workout) %>
          <% else %>
            <%= link_to "📆", workout_logs_path(workout) %>

          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  </div>





  <h2 class="account-title">My Progress</h2>

  <% if @exercises.empty? %>
  <p class="my-0 text-center" style="font-size: 16px;"> Your progress will show here <br> when you log some workouts...</p>
    <p class="d-flex justify-content-center"></p>
  <% else %>
    <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
      <!-- Carousel Inner -->
      <div class="carousel-inner">
        <% @exercises.each_with_index do |exercise, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="exercise-card chart-card">
                <% logs = @user_logs.select { |log| log.split_exercise.exercise_id == exercise.id }%>
                <% log_history = {} %>
                <% logs.each do |log| %>
                  <% one_rep_max = log.weight * (1 + (log.repetitions / 30.0)) %>
                  <% date = log.workout.date.strftime('%Y-%m-%d') %>
                  <% if log_history[date].nil? || log_history[date] < one_rep_max %>
                    <% log_history[date] = one_rep_max.round(1) %>
                  <% end %>
                <% end %>
              <!-- Display Chart -->
              <%= line_chart log_history, xtitle: "Date", ytitle: "1 Rep Max(kg)", label: "1RM", title: exercise.name, empty: "No data for now. Lift and log your lift in Lift Logix. We will show your progress here" %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Carousel Controls -->
      <button class="carousel-control-prev" data-bs-target="#carouselIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" data-bs-target="#carouselIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
    </div>
  <% end %>



<div class="logout-btn-container">
  <%= link_to 'Log out', destroy_user_session_path, method: :delete, data: { turbo_method: :delete, confirm: 'Are you sure you want to log out?' }, class: 'logout-btn' %>
</div>
