
<%# display each exercise within that category in that split %>

<h2>Creating Your <%= @split.category.capitalize %> Split</h2>
<p>Choose your exercises</p>
<%@split.split_exercises.each do |split_exercise|%>
  <div class="block border exercise-card">
    <h5><%= split_exercise.exercise.name %></h5>
    <p><%= split_exercise.exercise.description %></p>
    <% unless split_exercise.exercise.logs.empty? %>
      <% heavy = split_exercise.exercise.logs.sort_by(&:weight).first %>
      <p>Your heaviest lift for this one was <%= heavy.weight %>kg for <%= heavy.repetitions %> reps on <%= heavy.workout.date.strftime('%d/%b/%Y') %></p>
    <% end %>
    <%= link_to split_exercise_path(split_exercise),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this workout?" },
      class: "btn-delete" do %>
        <i class="fa-solid fa-trash"></i>
    <% end %>
  </div>
<% end %>

<%= simple_form_for [@split, @split_exercise] do |f| %>
  <%= f.association :exercise, collection: @exercises, label_method: :name, value_method: :id, prompt: 'choose an exercise' %>
  <%= f.submit %>
<% end %>
<% if @split.split_exercises.length >= 3 %>
  <% if @next_split %>
    <%= link_to 'Next Split', split_path(@next_split) %>
  <% else %>
    <%= link_to 'View your program', programme_path(@split.programme)  %>
  <% end %>
<% end %>
