
<%# display each exercise within that category in that split %>

<h2><%= @split.category.capitalize %> Exercises</h2>

<%@split.split_exercises.each do |split_exercise|%>
  <div class="block border exercise-card">
    <h5><%= split_exercise.exercise.name %></h5>
    <p><%= split_exercise.exercise.description %></p>
    <%= link_to split_split_exercises_path(split_exercise) do  %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  </div>
<% end %>

<%= simple_form_for [@split, @split_exercise] do |f| %>
  <%= f.association :exercise, collection: @exercises, label_method: :name, value_method: :id, prompt: 'choose an exercise' %>
  <%= f.submit %>
<% end %>
<% if @split.split_exercises.length >= 3 %>
  <% if @next_split %>
    <%= link_to 'Next Split', split_path(@next_split) %>
  <% else %>
    <%= link_to 'View your program', splits_path  %>
  <% end %>
<% end %>
