<h1>Current Workout</h1>
<h3><%= @workout.date %></h3>
<h3><%= @workout.split.category %></h3>

<% @workout.split.split_exercises.each do |split_exercise| %>
  <div class='log-card'>
    <div class="log-card-image">
      <%= image_tag split_exercise.exercise.image_url, alt: split_exercise.exercise.name %>
    </div>
    <div class="log-card-info">
      <h5 class="log-card-name"><%= split_exercise.exercise.name %></h5>
        <% if @heavy_sets[split_exercise.exercise.name].nil? %>
          <p class="heaviest-lift-text"> </p>
        <% elsif @heavy_sets[split_exercise.exercise.name].repetitions < 8 %>
          <p class="heaviest-lift-text">PB:  <%=  @heavy_sets[split_exercise.exercise.name].weight %> kg for
        <%=  @heavy_sets[split_exercise.exercise.name].repetitions%> reps.<br>
          Recommendations: increase reps</p>
        <% elsif @heavy_sets[split_exercise.exercise.name].repetitions >= 8%>
          <p class="heaviest-lift-text">PB: <%=  @heavy_sets[split_exercise.exercise.name].weight %> kg for
        <%=  @heavy_sets[split_exercise.exercise.name].repetitions%> reps.<br>
          Recommendations: increase weight</p>
        <% end %>

      <% completed_logs = @workout.logs.where(split_exercise: split_exercise) %>
      <% if completed_logs %>
        <% i = 0 %>
        <% completed_logs.each do |log| %>
          <div class="d-flex">
            <% i += 1 %>
            <p class="log-details"><strong>Set <%= i %>:</strong> <%= log.weight %>kg <%= log.repetitions %> reps </p>
            <div>
              <%= link_to log, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this log?" }, class: "log-card-btn-delete" do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= simple_form_for [@workout, split_exercise, @log] do |f| %>
        <div class="log-card-form-wrapper">
          <div class="log-card-form d-flex align-items-center">
            <div class="form-group">
              <%= f.input_field :weight, placeholder: "kg", label: false, class: "log-card-input" %>
            </div>
            <div class="form-group">
              <%= f.input_field :repetitions, placeholder: "reps", label: false, class: "log-card-input" %>
            </div>
            <div class="form-group">
              <button type="submit" style="background: none; border: none;">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<%= button_to 'Workout Completed?', workout_path(@workout), method: :patch, class: "form-btn", data: { controller: "alerts", alerts_target: "button" }%>
